---
const personalImageAlt = "Marcos Solis";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-400 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Marcos Solis. Desde 2022, he estado sumergido en el mundo de la
      programación, buscando constantemente aprender y mejorar mis habilidades.
      En Noviembre de 2023, <strong
        >me gradué de un bootcamp en plataforma5 con el objetivo de ampliar mis
        conocimientos y trabajar de manera colaborativa en equipos</strong
      >.
    </p>

    <p>
      Actualmente, estoy trabajando en proyectos propios para no perder el ritmo
      y seguir fortaleciendo mis habilidades.
      <strong
        >En todos los proyectos que he trabajado, me ha tocado desarrollar tanto
        en el backend como en el frontend.</strong
      >
      <br />
      Hoy en día, puedo afirmar que soy una persona con sólidas habilidades blandas
      y un amplio conocimiento técnico en desarrollo web.
    </p>

    <p>
      Como desarrollador, <strong
        >me encuentro concentrado en mi crecimiento personal y profesional,
        siendo apasionado por aprender y mejorar métodos de desarrollo para
        aumentar la productividad</strong
      >. Estoy abierto a explorar propuestas que me permitan continuar creciendo
      y aprendiendo en este fascinante campo de la programación.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/svg/programming.svg"
    alt={personalImageAlt}
    class="object-cover w-64 h-full p-1 md:order-2 lg:p-2 md:w-[25vw]"
    style=""
  />
</article>

<style>
  .animation {
    @media (min-width: 468px) {
      width: 90px;
      height: 90px;
      top: 14%;
    }

    @media (min-width: 994px) {
      width: 120px;
      height: 120px;
    }

    top: 13%;
    left: 5%;
    animation: cubo 7s linear infinite;
    @keyframes cubo {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
</style>

<!-- También trabaje durante un año y medio como playero en una estación de servicio,
      lo cual me ayudó enormemente a aprender cómo trabajar en equipo y para una
      empresa. -->
