---
import NextJS from "../icons/Next.astro";
import Tailwind from "../icons/Tailwind.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "Amigo Peludo",
    description:
      "Aplicación web diseñada para centralizar la adopción, rescate y otros servicios para ayudar a todas las mascotas. Tiene como funcionalidad publicar anuncios para dar en adopción a una mascota, buscar una que se ha perdido, o informar sobre una mascota que has encontrado. Desarrollada con Java, Spring Boot, Next.js, React, TypeScript y Tailwind CSS.",
    link: "https://www.amigopeludo.website/",
    image: "/img/projects/amigo-peludo.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Psicopedagogos Santa Fe",
    description:
      "Aplicación web destinada al Colegio de Profesionales de la Psicopedagogía de la la provincia de Santa Fe(Argentina). Esta tiene como funcionalidad dar noticia de eventos, noticias administrativas, capacitaciones, etc. Desarrollada en Wordpress.",
    link: "https://psicopedagogossantafe.org/",
    image: "/img/projects/psicopedagogia.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Bloom Studio",
    description:
      "Esta web esta destinada a un studio de belleza, la misma cuenta con funcionalidades como: Pagos integrados utilizando Mercado pago, sistema de reservas,envios de comprobantes via email, entre otros. Tambien cuenta con un dashboard del lado del profesional para llevar un control de reservas, historial de pagos, agregar o eliminar contenido del book, etc. Desarrollada con Java, Next.js, React y Tailwind CSS.",
    link: "https://ng-ui-git-main-joairazabal.vercel.app/",
    image: "/img/projects/bloom.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Studio by M - Macarena Bernal",
    description:
      "Plataforma gratuita. La web se trata de venta de cursos por Macarena Bernal (creados por ella) y seguimiento de los distintos cursos comprados por los usuarios (se otorgan certificados). Desarrollada con Node.js, Express, Mongoose, Next.js, React y Tailwind CSS.",
    link: "http://studiobym.com.ar/",
    image: "/img/projects/studioByM.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-500 dark:text-gray-300">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Web
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
